#genContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 50%;
    transform: translate(50%, 50%);
}

#boxButton {
    padding-top: 50px;
    order: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#playerData {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

#inputBox {
    margin-top: 30px;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

#inputField {
    margin-top: 12px;
    margin-left: 10px;
    height: 31px;
}

.divPlayer {
    display: flex;
    flex-direction: row;
}

#buttonStore {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 7px;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 150px;
    height: 65px;
}

#buttonStore:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 1vw;
    transition: box-shadow .2s;
}

#buttonStore:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

#buttonStore:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

#buttonStore:hover {
    box-shadow: 0 0 2vw #371b51;
}

#buttonCustomGen {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 7px;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 150px;
    height: 65px;
}

#buttonCustomGen:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 1vw;
    transition: box-shadow .2s;
}

#buttonCustomGen:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

#buttonCustomGen:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

#buttonCustomGen:hover {
    box-shadow: 0 0 2vw #371b51;
}