#container {
    display: flex;
    height: 90%;
}

#centerImage, #infoContainer {
    width: 50%;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
}

#centerImage {
    display: flex;
    justify-content: center;
    align-items: center;

}

#centerImage img {
    max-width: 50%;
    height: auto;
}

#infoContainer {
    padding: 0 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    margin: 0;
}